---
import { Image } from '@astrojs/image/components'
import type { MarkdownInstance } from 'astro'
import Link from 'components/Link.astro'
import BaseLayout from 'layouts/BaseLayout.astro'
import type { Frontmatter } from 'lib/types'

export async function getStaticPaths() {
  const posts = await Astro.glob<Frontmatter>('/src/posts/**/*.mdx')

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }))
}

interface Props {
  post: MarkdownInstance<Frontmatter>
}

const { Content, frontmatter } = Astro.props.post
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <Image
      alt={frontmatter.image.alt}
      src={frontmatter.image.src}
      width={720}
      aspectRatio={16 / 9}
      format="webp"
      class="mb-8"
    />

    <div class="px-4">
      <h1 class="text-3xl font-bold">{frontmatter.title}</h1>

      <section class="mt-1 flex items-center gap-x-2">
        <h2>tags:</h2>
        <ul class="flex gap-x-2">
          {
            frontmatter.tags.map((tag: string) => (
              <li>
                <Link href={`/blog/tags/${tag}`}>{tag}</Link>
              </li>
            ))
          }
        </ul>
      </section>

      <div class="prose my-8">
        <Content components={{ a: Link }} />
      </div>
    </div>
  </article>
</BaseLayout>
