---
import BaseLayout from 'layouts/BaseLayout.astro'
import type { Frontmatter } from 'lib/types'

export const title = 'Blog - Emmanuel Chucks'
export const description =
  "Blog page for my personal portfolio website. Posts about web and mobile development, design, and other things I've been thinking about lately."

const allPosts = await Astro.glob<Frontmatter>('./blog/*.md')
---

<BaseLayout title={title} description={description}>
  <h1 class="text-2xl font-bold">All posts</h1>
  {
    allPosts.map((post) => {
      const { title, description, pubDate, minutesRead } = post.frontmatter
      return (
        <div>
          <h2 class="text-xl font-bold">{title}</h2>
          <p>{description}</p>
          <p>{pubDate}</p>
          <p>{minutesRead}</p>
          <a href={post.url}>Read more</a>
        </div>
      )
    })
  }
</BaseLayout>
