---
import { Image } from '@astrojs/image/components'
import Link from 'components/Link.astro'
import type { Frontmatter } from 'lib/types'
import BaseLayout from './BaseLayout.astro'

interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <Image
      alt={frontmatter.image.alt}
      src={frontmatter.image.src}
      width={720}
      aspectRatio={16 / 9}
      format="webp"
      class="mb-8"
    />

    <div class="px-4">
      <h1 class="text-3xl font-bold">{frontmatter.title}</h1>

      <section class="mt-1 flex items-center gap-x-2">
        <h2>tags:</h2>
        <ul class="flex gap-x-2">
          {
            frontmatter.tags.map((tag: string) => (
              <li>
                <Link url={`/blog/tags/${tag}`}>{tag}</Link>
              </li>
            ))
          }
        </ul>
      </section>

      <div class="prose my-8">
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
